
.code-edit-container {
    position: relative;
    height: 500px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
    margin: 1em 0;
  }
  
  .code-input{
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    width: 45%;
    height: 40%;
    padding: 1rem;
    border: none;
    outline: 1px solid rgb(139, 124, 124);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.8rem;
    background: transparent;
    white-space: pre-wrap;
    line-height: 1.5em;
    word-wrap: break-word;
    font-size: 1rem;
  }
  .code-output {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 40%;
    padding: 1rem;
    border: none;
    outline: 1px solid rgb(139, 124, 124);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.8rem;
    background: transparent;
    white-space: pre-wrap;
    line-height: 1.5em;
    word-wrap: break-word;
    font-size: 1rem;
  }
  
  .code-input {
    opacity: 1;
    margin: 0;
    color: hsl(0, 100%, 98%);
    resize: none;
  }
  
  .code-output {
    pointer-events: none;
    z-index: 3;
    margin: 0;
    overflow-y: auto;
  }
  
  code {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    display: block;
    color: hsl(0, 22%, 86%);
    font-size: 0.8rem;
    font-family: "PT Mono", monospace;
  }
  
  /* overrides */
  .code-edit-container :not(pre) > code[class*="language-"],
  .code-edit-container pre[class*="language-"] {
    background: transparent;
    margin: 0;
  }